.root{
    --primcol: #FF6B6B;
    --seccol: #FFE66D;
    --acccol: #4ECDC4;
    --baccol: #F7FFF7;
    --textcol: #1A535C;
}
*{
    margin: 0;
    padding: 0;
}

body{
    background: var(--baccol);
}

.grid-container{
    display: grid;
    grid-template-columns: 1% 1fr 1fr 1fr 1%;
    grid-template-rows: 1fr 0.6fr 3fr 3fr 1fr;

    grid-template-areas: 
    ". header header header ."
    ". navigation navigation navigation ."
    ". side-1 content-1 content-2 ."
    ". side-1 content-3 content-3 ."
    ". footer footer footer .";
}

@media (max-width: 600px) {
    .grid-container{
        display: grid;
        grid-template-columns: 1% 1fr 1%;
        grid-auto-rows: minmax(100px, auto);
    
        grid-template-areas: 
        ". header ."
        ". nav ."
        ". side-1 ."
        ". side-2 ."
        ". footer .";
    }
}