:root{
    --primcol: #FF6B6B;
    --seccol: #FFE66D;
    --acccol: #4ECDC4;
    --baccol: #F7FFF7;
    --textcol: #1A535C;
}
*{
    margin: 0;
    padding: 0;
    color: var(--textcol);
}

html, body{
    background: var(--baccol);
    height: 100%;
}

#formular{
    width: 600px;
    border-radius: 10px;
    padding: 20px;
    font-size: 16px;
    grid-area: content;
    position: relative;
    z-index: 1;
    margin-left: 40px;
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

#formular::before, #formular::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
    background-image: conic-gradient(from var(--angle),var(--primcol), var(--acccol), var(--primcol), var(--acccol), var(--primcol), var(--acccol), var(--primcol), var(--acccol), var(--primcol));
    border-radius: 10px;
    animation: 10s spin linear infinite;
    border: solid 5px var(--seccol);
}

@keyframes spin{
    from{
        --angle: 0deg;
    }
    to{
        --angle: 360deg;
    }
}

#formular::before{
    filter: blur(1.5rem);
}

#formular input[type=text],
#formular input[type=email], textarea {
    width: 100%;
    padding: 10px 5px 10px 10px;
    margin: 5px 0 15px 0;
    display: inline-block;
    border: 1px solid var(--seccol);
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 18px;
}

#formular textarea{
    resize: vertical;
    min-height: 250px;
}
    
#formular input[type=submit] {
    width: 100%;
    background-color: var(--acccol);
    color: var(--textcol);
    padding: 15px 20px;
    margin: 10px 0;
    border: ridge 5px var(--seccol);
    border-radius: 4px;
    cursor: crosshair;
    font-size: 18px;
}
    
#formular input[type=submit]:hover {
    background-color: #3AADC4;
    border: groove 5px var(--seccol);
    transition: 0.25s;
}

.grid-container{
    display: grid;
    grid-template-columns: 1% 1fr 1fr 1fr 1%;
    grid-template-rows: 1fr 0.6fr 3fr 3fr 1fr;

    grid-template-areas: 
    ". header header header ."
    ". nav nav nav ."
    ". aside content content ."
    ". aside content content ."
    ". footer footer footer .";
}

.grid-container *{
    min-height: 45px;
}

header{
    grid-area: header;
}

h1{
    font-size: 4em;
}

nav{
    grid-area: nav;
    padding-bottom: 10px;
    position: sticky;
    top: 0;
    margin: 10px;
}

nav ul{
    position: sticky;
    top: 0;
    display: block;
    list-style: none;
    text-align: center;
    overflow: hidden;
    background: var(--baccol);
    z-index: 2;
}

nav a{
    color: var(--textcol);
    text-decoration: none;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 2em;
    border-radius: 10px;
    height: 45px;
    border: ridge var(--primcol) 6px;
    background: var(--baccol);
}

nav a:hover{
    background: var(--acccol);
    transition: 0.25s;
    border: groove var(--primcol) 4px;
}

nav li{
    float: left;
}

.side-1{
    grid-area: aside;
}

.side-2{
    visibility: hidden;
}

.content{
    grid-area: content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    grid-template-areas: 
    "content-1 content-2"
    "content-3 content-3";
}

.content *, .side-1 *{
    margin: 5px;
    font-size: 1.1em;
}

.grid-container h2{
    border: solid var(--primcol) 2px;
    border-radius: 30px;
    padding: 20px 0 0 10px;
}

.grid-container p{
    padding: 0 0 0 10px
}

.content-1{
    grid-area: content-1;
}

.content-2{
    grid-area: content-2;
}

.content-3{
    grid-area: content-3;
}

footer{
    grid-area: footer;
}

@media (max-width: 600px) {
    .grid-container{
        display: grid;
        grid-template-columns: 1% 1fr 1%;
        grid-auto-rows: minmax(100px, auto);
    
        grid-template-areas: 
        ". header ."
        ". nav ."
        ". aside ." 
        ". main ."
        ". main ."
        ". side-2 ."
        ". footer .";
    }
    .grid-container *{
        min-height: 50px;
    }

    .side-2{
        visibility: visible;
        grid-area: side-2;
    }

    .content{
        grid-area: main;
    }
    #formular{
        grid-area: main;
        width: 90%;
    }
}