:root{
    --primcol: #FF6B6B;
    --seccol: #FFE66D;
    --acccol: #4ECDC4;
    --baccol: #F7FFF7;
    --textcol: #1A535C;
}
*{
    margin: 0;
    padding: 0;
}

html, body{
    background: var(--baccol);
    height: 100%;
}

#formular {
    width: 600px;
    border: 5px solid var(--seccol);
    border-radius: 10px;
    background-color: var(--primcol);
    padding: 20px;
    font-size: 16px;
    grid-area: content;
}
    
#formular input[type=text],
#formular input[type=email], textarea {
    width: 100%;
    padding: 10px 5px 10px 10px;
    margin: 5px 0 15px 0;
    display: inline-block;
    border: 1px solid var(--seccol);
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 18px;
}

#formular textarea{
    resize: vertical;
}
    
#formular input[type=submit] {
    width: 100%;
    background-color: var(--acccol);
    color: var(--textcol);
    padding: 15px 20px;
    margin: 10px 0;
    border: ridge 5px var(--seccol);
    border-radius: 4px;
    cursor: crosshair;
    font-size: 18px;
}
    
#formular input[type=submit]:hover {
    background-color: #3AADC4;
    border: groove 5px var(--seccol);
    transition: 0.25s;
}

.grid-container{
    display: grid;
    grid-template-columns: 1% 1fr 1fr 1fr 1%;
    grid-template-rows: 1fr 0.6fr 3fr 3fr 1fr;

    grid-template-areas: 
    ". header header header ."
    ". nav nav nav ."
    ". aside content content ."
    ". aside content content ."
    ". footer footer footer .";
}

.grid-container *{
    min-height: 45px;
}

header{
    grid-area: header;
}

h1{
    font-size: 4em;
}

nav{
    grid-area: nav;
    padding-bottom: 10px;
    position: sticky;
    top: 0;
}

nav ul{
    display: block;
    list-style: none;
    text-align: center;
    overflow: hidden;
}

nav a{
    color: var(--textcol);
    text-decoration: none;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 2em;
    border-radius: 10px;
    height: 45px;
    border: ridge var(--primcol) 6px;
}

nav a:hover{
    background-color: var(--acccol);
    transition: 0.25s;
    border: groove var(--primcol) 4px;
}

nav li{
    float: left;
}

aside{
    grid-area: aside;
}

.side-2{
    visibility: hidden;
}

.content{
    grid-area: content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    grid-template-areas: 
    "content-1 content-2"
    "content-3 content-3";
}

.content-1{
    grid-area: content-1;
}

.content-2{
    grid-area: content-2;
}

.content-3{
    grid-area: content-3;
}

footer{
    grid-area: footer;
}
main{
    visibility: hidden;
}

@media (max-width: 600px) {
    .grid-container{
        display: grid;
        grid-template-columns: 1% 1fr 1%;
        grid-auto-rows: minmax(100px, auto);
    
        grid-template-areas: 
        ". header ."
        ". nav ."
        ". main ." 
        ". main ."
        ". aside ."
        ". side-2 ."
        ". footer .";
    }
    .grid-container *{
        min-height: 50px;
    }

    .side-2{
        visibility: visible;
        grid-area: side-2;
    }

    main{
        grid-area: main;
        visibility: visible;
    }

    .content{
        visibility: hidden;
        display: none;
    }
    #formular{
        grid-area: main;
        width: 90%;
    }
}